@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*--------------
  APP BACKGROUNDS
--------------*/
.app-bg1 {
  background: #662f90;
  background: -webkit-linear-gradient(top, #662f90 5%, rgba(0, 86, 162, 0.3) 40%, rgba(0, 86, 162, 0) 100%);
  background: linear-gradient(to bottom, #662f90 5%, rgba(0, 86, 162, 0.3) 40%, rgba(0, 86, 162, 0) 100%); }

.app-bg2 {
  background: rgba(0, 86, 162, 0.8);
  background: -webkit-linear-gradient(top, rgba(0, 86, 162, 0.8) 5%, rgba(39, 169, 225, 0.3) 40%, rgba(39, 169, 225, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 86, 162, 0.8) 5%, rgba(39, 169, 225, 0.3) 40%, rgba(39, 169, 225, 0) 100%); }

.app-bg3 {
  background: rgba(39, 169, 225, 0.8);
  background: -webkit-linear-gradient(top, rgba(39, 169, 225, 0.8) 5%, rgba(90, 194, 189, 0.3) 40%, rgba(90, 194, 189, 0) 100%);
  background: linear-gradient(to bottom, rgba(39, 169, 225, 0.8) 5%, rgba(90, 194, 189, 0.3) 40%, rgba(90, 194, 189, 0) 100%); }

.app-bg4 {
  background: rgba(90, 194, 189, 0.8);
  background: -webkit-linear-gradient(top, rgba(90, 194, 189, 0.8) 5%, rgba(217, 231, 155, 0.3) 40%, rgba(217, 231, 155, 0) 100%);
  background: linear-gradient(to bottom, rgba(90, 194, 189, 0.8) 5%, rgba(217, 231, 155, 0.3) 40%, rgba(217, 231, 155, 0) 100%); }

.app-bg5 {
  background: rgba(217, 231, 155, 0.8);
  background: -webkit-linear-gradient(top, rgba(217, 231, 155, 0.8) 5%, rgba(217, 231, 155, 0.3) 40%, rgba(217, 231, 155, 0) 100%);
  background: linear-gradient(to bottom, rgba(217, 231, 155, 0.8) 5%, rgba(217, 231, 155, 0.3) 40%, rgba(217, 231, 155, 0) 100%); }

.app-bg6 {
  background: rgba(140, 198, 62, 0.8);
  background: -webkit-linear-gradient(top, rgba(140, 198, 62, 0.8) 5%, rgba(140, 198, 62, 0.3) 40%, rgba(140, 198, 62, 0) 100%);
  background: linear-gradient(to bottom, rgba(140, 198, 62, 0.8) 5%, rgba(140, 198, 62, 0.3) 40%, rgba(140, 198, 62, 0) 100%); }

.app-bg7 {
  background: rgba(254, 204, 63, 0.8);
  background: -webkit-linear-gradient(top, rgba(254, 204, 63, 0.8) 5%, rgba(254, 204, 63, 0.3) 40%, rgba(254, 204, 63, 0) 100%);
  background: linear-gradient(to bottom, rgba(254, 204, 63, 0.8) 5%, rgba(254, 204, 63, 0.3) 40%, rgba(254, 204, 63, 0) 100%); }

.app-bg8 {
  background: rgba(254, 204, 63, 0.8);
  background: -webkit-linear-gradient(top, rgba(254, 204, 63, 0.8) 5%, rgba(247, 148, 30, 0.3) 40%, rgba(247, 148, 30, 0) 100%);
  background: linear-gradient(to bottom, rgba(254, 204, 63, 0.8) 5%, rgba(247, 148, 30, 0.3) 40%, rgba(247, 148, 30, 0) 100%); }

.app-bg9 {
  background: rgba(247, 148, 30, 0.8);
  background: -webkit-linear-gradient(top, rgba(247, 148, 30, 0.8) 5%, rgba(217, 27, 92, 0.3) 40%, rgba(217, 27, 92, 0) 100%);
  background: linear-gradient(to bottom, rgba(247, 148, 30, 0.8) 5%, rgba(217, 27, 92, 0.3) 40%, rgba(217, 27, 92, 0) 100%); }

/*--------------
  TOGGLE COLOR
--------------*/
.toggle-color1 {
  background-color: #662f90; }

.toggle-color2 {
  background-color: #0056a2; }

.toggle-color3 {
  background-color: #27a9e1; }

.toggle-color4 {
  background-color: #5ac2bd; }

.toggle-color5 {
  background-color: #d9e79b; }

.toggle-color6 {
  background-color: #8cc63e; }

.toggle-color7 {
  background-color: #fecc3f; }

.toggle-color8 {
  background-color: #fecc3f; }

.toggle-color9 {
  background-color: #f7941e; }

/*--------------
  GENERAL
--------------*/
body {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

.row {
  margin: 0; }

[class*="col-"] {
  padding: 0; }

/*--------------
  APP
--------------*/
#app {
  border-radius: 4px;
  height: 480px;
  width: 300px;
  margin-top: 40px;
  position: relative; }
  #app *:not(.wi) {
    font-family: montserrat; }

[class*="app-bg"] {
  position: absolute;
  z-index: 2;
  height: 300px;
  width: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

#top {
  z-index: 1;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  #top * {
    text-transform: uppercase;
    color: white;
    z-index: 3; }
  #top #city {
    font-weight: bold;
    margin-bottom: 0; }
  #top #forecast {
    margin: 0; }
  #top .summary {
    margin-top: 40px; }
  #top #temp {
    margin: 0;
    font-size: 60px; }
  #top .main-wi {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 48px; }
  #top .spec-icons {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px; }
    #top .spec-icons .wi {
      font-size: 20px; }
  #top .current-specs {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px; }

#bottom {
  height: 160px;
  width: 300px;
  background: white; }
  #bottom .day {
    margin: 0 10px;
    padding: 6px 0px;
    color: #BBBDC0;
    font-size: 20px;
    border-bottom: 3px solid #BBBDC0; }
    #bottom .day p {
      margin: 0; }
    #bottom .day .min-temp {
      font-size: 16px; }

/*--------------
  TOGGLE TEMP
--------------*/
.cmn-toggle {
  margin-left: 100px;
  visibility: hidden; }

.cmn-toggle + label {
  z-index: 3;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  font-size: 20px; }

input.cmn-toggle-round-flat + label {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  border-radius: 40px;
  transition: 0.4s; }

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute; }

input.cmn-toggle-round-flat + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 40px;
  transition: background 0.4s;
  color: #BCBEC0;
  content: ""; }

input.cmn-toggle-round-flat + label:after {
  content: "C";
  line-height: 36px;
  text-align: center;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 36px;
  color: #fff;
  background-color: #39B54A;
  border-radius: 36px;
  transition: margin 0.2s, background 0.2s; }

input.cmn-toggle-round-flat:checked + label:after {
  content: "F";
  margin-left: 40px; }

/*# sourceMappingURL=style.css.map */
